body {
    background: rgba(20, 17, 14, 1);
    margin: 0;
}

.header-nav {
background: rgba(28, 24, 20, 1);
height: 70px;
}

.nav-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-info:first-child {
    margin: 0;
}



.nav-primary {
    color: rgba(201, 158, 113, 1);
    font-size: 18px;
    font-family: RobotoB, sans-serif;
    cursor: pointer;
    padding-left: 100px;
}

.nav-primary:hover {
    color: rgb(92, 66, 39);
}

.nav-secondary {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
    margin-left: 48px;
}

.nav-secondary:hover {
    color: gray;
}



.nav-third {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
    margin-right: 48px;
}

.nav-third:hover {
    color: gray;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    padding-right: 100px;
}


.nav-img {
    margin-right: 48px
}

.nav-img:hover {
    cursor: pointer;
}

.nav-right:last-child {
    margin: 0;
}




.header-main {
    background: url(../img/header-img/1.svg) no-repeat;
    background-size: 1350px;
    margin: 0;
}

.header-text {
    padding-top: 100px;
    padding-left: 150px;
}

.primary {
    font-size: 62px;
    font-family: RobotoB, sans-serif;
    width: 529px;
    color: white;
    margin: 0;
}

.secondary {
    color: white;
    font-family: RobotoT, sans-serif;
    font-size: 18px;
    width: 511px;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 64px;
}





































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































